
.container-imput{
    display: flex;
    margin: 100px;
    justify-content: center;
    align-items: center;    
}

button{
    max-width: 200px;
    height: 40px;
    margin: 10px;
}

.form-label{
    display: flex;
    justify-content: center;
}

.mb-3{
    min-width: 400px;
}

.container-ul{
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
}

.ul-tarea{
    display: flex;
    align-items: center;
    max-width: 600px;
}