
<div class="card-container" >    
  <div *ngFor="let data of data">
  <div class="card" style="width: 18rem;"  >
      <img class="card-img-top" src= "{{data?.image}}"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> {{data.title}} </h5>
        <p class="card-text"><b> ${{data.price}} </b></p>
        <p class="card-text">RATE:{{data.rating.rate}}<br>COUNT:{{data.rating.count}} </p>
        <a class="btn btn-primary" [routerLink]="['/products', data.id]">DETAILS</a>
      </div>
  </div>
  </div>

  <div class="button-container">
    <button id="button-absolute" class="btn btn-outline-secondary" (click)="ordenarPorPrecioMaximo()">max</button>
    <button id="button-absolute" class="btn btn-outline-secondary" (click)="ordenarPorPrecioId()">normal</button>
    <button id="button-absolute" class="btn btn-outline-secondary" (click)="ordenarPorPrecioMinimo()">min</button>
  </div>
</div>
